<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Animal Table <a href="./animal/new" class="right">ADD ANIMAL</a></div>
  <!-- Table -->
  <table class="table table-striped">
    <th>ID</th>
    <th>Name</th>
    <th>Breed</th>
    <th>Age</th>
    <th>Fur Color</th>
    <th>Adopted</th>
    <th>Animal Folder</th>
    <th>Fostered</th>
    <th>Animal Type</th>
    <th>Org ID</th>

    {{#each animals}}
    <tr>
      <td>{{Animal_ID}}</td>
      <td>{{Animal_Name}}</td>
      <td>{{Breed}}</td>
      <td>{{Age}}</td>
      <td>{{Fur_Color}}</td>
      <td>{{Adopted}}</td>
      <td>{{Animal_Folder}}</td>
      <td>{{Fostered}}</td>
      <td>{{Animal_Type}}</td>
      <td>{{Org_ID}}</td>
    </tr>
    {{/each}}
  </table>
</div>
