
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Employees
    <a href="./employee/search" class="btn-lg pull-right">Search<i class="fa fa-search" aria-hidden="true"></i></a>
    <a href="./employee/delete" class="btn-lg pull-right">Delete<i class="fa fa-minus-square-o" aria-hidden="true"></i></a>
    <a href="./employee/new" class="btn-lg pull-right">Add<i class="fa fa-plus-square-o" aria-hidden="true"></i></a>
  </div>

  <!-- Table -->
  <table class="table table-striped">
    <th>ID</th>
    <th>Last</th>
    <th>First</th>
    <th>Middle</th>
    <th>Address</th>
    <th>Phone</th>
    <th>SSN</th>
    <th>Org_ID</th>

    {{#each employees}}
    <tr>
      <td>{{Employee_ID}}</td>
      <td>{{Lname}}</td>
      <td>{{Fname}}</td>
      <td>{{Mname}}</td>
      <td>{{Address}}</td>
      <td>{{Phone_Number}}</td>
      <td>{{SSN}}</td>
      <td>{{Org_ID}}</td>
    </tr>
    {{/each}}
  </table>
</div>
